@font-face {
  font-family: Antonio;
  font-style: bold;
  font-weight: 700;
  src: url(@fonts/antonio/Antonio-Bold.ttf) format("truetype");
}

:root {
  font-family: Inter, system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  font-size: 65.5%;

  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* variables */
  --bg-color: rgba(34, 30, 46, 1);
  --fg-color: rgba(255, 255, 255, 0.9);

  --fs-heading: 12rem;
  --fs-footer: 1.4rem;

  --fw-bold: 700;
  --fw-thin: 100;
  --fw-regular: 300;

  --ft-wide: 0.025em;
  --ft-wider: 0.05em;
  --ft-tight: -0.025em;
  --ft-tighter: -0.05em;

  background-color: var(--bg-color);
  color: var(--fg-color);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 1920px;
  height: 100vh;
  margin: auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: rgba(255, 255, 255, 0.80);
    --fg-color: rgba(34, 30, 46, 1);

    background-color: var(--bg-color);
    color: var(--fg-color);
  }
}
